@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Cachimberos</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="MyOrders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>Mis pedidos</div>
        </NavLink>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
