@foreach (var pizza in Order.Pizzas)
{
    <p>
        <strong>
            @pizza.Special?.Name
            (@pizza.GetFormattedTotalPrice()€)
        </strong>
    </p>

    <ul>
        @foreach (var topping in pizza.Toppings)
        {
            <li>+ @topping.Topping?.Name</li>
        }
    </ul>

    <!-- Mostrar el método de envío de la orden -->
    <p>
        Metodo de envío: @Order.ShippingMethod
    </p>
}

<p>
    <strong>
        Precio Total:
        €@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter, EditorRequired] public Order Order { get; set; } = new();
}
